/* Common Code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "tahoma";
  src: url("font/tahoma-regular-font.ttf");
}
img {
  width: 100%;
}

body {
  font-family: "tahoma";
}

/* Partial Scss */
.top-section {
  background-color: #243559;
  padding: 15px 0px;
}
.top-section .container {
  width: 1200px;
  margin: 0 auto;
}
.top-section .container .top-content {
  display: flex;
}
.top-section .container .top-content .top-left-side {
  width: 80%;
  margin-top: 5px;
}
.top-section .container .top-content .top-left-side a {
  text-decoration: none;
  margin-right: 10px;
  font-size: 16px;
  color: #cccccc;
}
.top-section .container .top-content .top-left-side a i {
  font-size: 16px;
  margin-right: 10px;
}
.top-section .container .top-content .top-right-side {
  width: 20%;
}
.top-section .container .top-content .top-right-side .top-social-icon {
  display: flex;
  justify-content: end;
}
.top-section .container .top-content .top-right-side .top-social-icon a {
  text-decoration: none;
}
.top-section .container .top-content .top-right-side .top-social-icon a i {
  font-size: 12px;
  margin: 0px 5px;
  padding: 6px;
  background: #3078fb;
  border-radius: 5px;
  color: #fff;
}

.menu-section {
  background-color: #fff;
  padding: 30px 0px;
}
.menu-section .container {
  width: 1200px;
  margin: 0 auto;
}
.menu-section .container .menu-content {
  display: flex;
}
.menu-section .container .menu-content .logo {
  width: 25%;
}
.menu-section .container .menu-content .logo a {
  text-decoration: none;
}
.menu-section .container .menu-content .logo a img {
  width: 50%;
}
.menu-section .container .menu-content .menu {
  display: flex;
  width: 50%;
  justify-content: center;
}
.menu-section .container .menu-content .menu ul {
  list-style-type: none;
  margin-top: 17px;
}
.menu-section .container .menu-content .menu ul li {
  display: inline-block;
  margin-right: 30px;
}
.menu-section .container .menu-content .menu ul li a {
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize;
  color: #444;
  transition: 0.3s;
}
.menu-section .container .menu-content .menu ul li a:hover {
  color: #3078fb;
}
.menu-section .container .menu-content .search {
  width: 25%;
  text-align: right;
}
.menu-section .container .menu-content .search i {
  font-size: 18px;
  margin-right: 10px;
}
.menu-section .container .menu-content .search a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 10px 15px;
  background: #3078fb;
  border: 1px solid #3078fb;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.3s;
}
.menu-section .container .menu-content .search a:hover {
  background-color: transparent;
  color: #3078fb;
}

.hero-section {
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 170px 0px;
}
.hero-section .container {
  width: 1200px;
  margin: 0 auto;
}
.hero-section .container .hero-content {
  width: 50%;
}
.hero-section .container .hero-content h3 {
  font-size: 18px;
  color: #3078fb;
}
.hero-section .container .hero-content h1 {
  font-size: 54px;
  color: #151b2c;
  margin-top: 20px;
}
.hero-section .container .hero-content h1 span {
  color: #3078fb;
}
.hero-section .container .hero-content p {
  font-size: 20px;
  color: #5d6471;
  margin-top: 20px;
  font-weight: 600;
  padding-right: 190px;
  line-height: 1.6;
}
.hero-section .container .hero-content .hero-btn {
  margin-top: 40px;
}
.hero-section .container .hero-content .hero-btn .left-btn {
  display: inline-block;
  margin-right: 20px;
}
.hero-section .container .hero-content .hero-btn .left-btn a {
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
  padding: 10px 30px;
  background: #3078fb;
  border: 1px solid #3078fb;
  border-radius: 5px;
  transition: 0.3s;
}
.hero-section .container .hero-content .hero-btn .left-btn a:hover {
  color: #3078fb;
  background-color: transparent;
}
.hero-section .container .hero-content .hero-btn .right-btn {
  display: inline-block;
}
.hero-section .container .hero-content .hero-btn .right-btn a {
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize;
  color: #3078fb;
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid #3078fb;
  border-radius: 5px;
}
.hero-section .container .hero-content .hero-btn .right-btn a:hover {
  color: #fff;
  background: #3078fb;
}

.creative-section {
  background-color: #fff;
  padding: 80px 0px;
}
.creative-section .container {
  width: 1200px;
  margin: 0 auto;
}
.creative-section .container .creative-content {
  display: flex;
  justify-content: space-between;
}
.creative-section .container .creative-content .single-content {
  width: 33%;
  padding: 30px;
  border-right: 1px solid #dadada;
  text-align: center;
}
.creative-section .container .creative-content .single-content:nth-child(3) {
  border-right: 0;
}
.creative-section .container .creative-content .single-content i {
  font-size: 75px;
  color: #3078fb;
}
.creative-section .container .creative-content .single-content i:hover {
  color: #151b2c;
}
.creative-section .container .creative-content .single-content h2 {
  font-size: 22px;
  color: #151b2c;
  margin: 20px 0px;
}
.creative-section .container .creative-content .single-content p {
  font-size: 16px;
  color: #5d6471;
}
.creative-section .container .creative-content .single-content a {
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  color: #444;
  position: relative;
  overflow: hidden;
}
.creative-section .container .creative-content .single-content a:hover {
  color: #3078fb;
}
.creative-section .container .creative-content .single-content a:hover::before {
  transition: 0.3s;
  width: 100%;
}
.creative-section .container .creative-content .single-content a::before {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #3078fb;
  height: 1px;
  width: 0%;
  content: "";
  transition: 0.3s;
}

.technology .technology-content {
  display: flex;
}
.technology .technology-content .tech-left {
  background-image: url("../images/ag.jpg");
  width: 50%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.technology .technology-content .tech-left a i {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px;
  background: #3078fb;
  border-radius: 100%;
  font-size: 24px;
  transform: translate(-50%, -50%);
  color: #fff;
  border: 1px solid #3078fb;
}
.technology .technology-content .tech-left a i:hover {
  background-color: #fff;
  color: #3078fb;
}
.technology .technology-content .tech-right {
  width: 50%;
  background-color: #062241;
  padding: 40px 70px;
}
.technology .technology-content .tech-right h2 {
  font-size: 34px;
  color: #fff;
  font-family: poppins;
}
.technology .technology-content .tech-right h2 span {
  color: #3078fb;
}
.technology .technology-content .tech-right p {
  font-size: 16px;
  color: #ddd;
  margin: 25px 0px;
  font-family: poppins;
  font-weight: 400;
  line-height: 1.6;
}
.technology .technology-content .tech-right .tech-list {
  display: flex;
  margin-left: 20px;
}
.technology .technology-content .tech-right .tech-list .tech-list-left {
  width: 50%;
}
.technology .technology-content .tech-right .tech-list .tech-list-left ul {
  list-style: circle;
}
.technology .technology-content .tech-right .tech-list .tech-list-left ul li {
  font-size: 16px;
  color: #fff;
  margin-bottom: 18px;
}
.technology .technology-content .tech-right .tech-list .tech-list-right {
  width: 50%;
}
.technology .technology-content .tech-right .tech-list .tech-list-right ul {
  list-style: circle;
}
.technology .technology-content .tech-right .tech-list .tech-list-right ul li {
  font-size: 16px;
  color: #fff;
  margin-bottom: 18px;
}

.services-section {
  background-color: #f5f8fb;
  padding: 80px 0px;
}
.services-section .container {
  width: 1200px;
  margin: 0 auto;
}
.services-section .container .services-title {
  text-align: center;
}
.services-section .container .services-title h2 {
  font-size: 34px;
  color: #151b2c;
  font-family: poppins;
}
.services-section .container .services-title p {
  font-family: poppins;
  font-size: 18px;
  color: #5d6471;
  margin: 20px 0px 40px;
}
.services-section .container .all-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services-section .container .all-services .single-services {
  width: 30%;
  margin-top: 30px;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(48, 120, 251, 0.4);
  border-radius: 5px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.services-section .container .all-services .single-services:hover {
  border: 0px;
}
.services-section .container .all-services .single-services:hover h3 {
  color: #fff;
}
.services-section .container .all-services .single-services:hover p {
  color: #fff;
}
.services-section .container .all-services .single-services:hover .icon {
  color: #fff;
}
.services-section .container .all-services .single-services:hover::before {
  top: 0;
}
.services-section .container .all-services .single-services::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background-color: #062241;
  transition: 0.4s;
  z-index: -1;
}
.services-section .container .all-services .single-services i {
  font-size: 55px;
  color: #7aa8fc;
}
.services-section .container .all-services .single-services h3 {
  margin: 20px 0px;
  color: #151b2c;
  font-size: 22px;
}
.services-section .container .all-services .single-services p {
  color: #151b2c;
  font-size: 17px;
  margin-bottom: 30px;
  font-weight: 300;
  line-height: 1.7;
}
.services-section .container .all-services .single-services a i {
  font-size: 15px;
  color: #7aa8fc;
  background-color: #f5f8fb;
  padding: 10px;
  border-radius: 5px;
}

/* Award Section Start Here */
.award-section {
  background-color: #fff;
  padding: 80px 0px;
}
.award-section .container {
  width: 1200px;
  margin: 0 auto;
}
.award-section .container .award-content {
  display: flex;
}
.award-section .container .award-content .award-left {
  width: 50%;
  background-image: url("../images/circle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.award-section .container .award-content .award-right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.award-section .container .award-content .award-right .single-award {
  width: 40%;
  background-color: #f5f8fb;
  margin: 30px;
  border-radius: 10px;
  padding: 50px;
}
.award-section .container .award-content .award-right .single-award i {
  color: #3078fb;
  font-size: 34px;
}
.award-section .container .award-content .award-right .single-award h4 {
  color: #444;
  font-size: 40px;
  margin: 20px 0px;
}
.award-section .container .award-content .award-right .single-award p {
  color: #444;
  font-size: 18px;
}

/* Render Section Start Here */
.render-section {
  background-image: url("../images/bg2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 150px 0px;
  z-index: 2;
}
.render-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(6, 34, 65, 0.85);
  z-index: -1;
}
.render-section .container {
  width: 1200px;
  margin: 0 auto;
}
.render-section .container .render-content {
  display: flex;
}
.render-section .container .render-content .render-left {
  width: 60%;
}
.render-section .container .render-content .render-left h2 {
  color: #fff;
  font-size: 34px;
  line-height: 1.7;
  font-family: poppins;
}
.render-section .container .render-content .render-right {
  width: 40%;
}
.render-section .container .render-content .render-right .render-icon .call-us {
  display: block;
  margin-bottom: 30px;
  color: #fff;
  font-size: 18px;
}
.render-section .container .render-content .render-right .render-icon .call-us i {
  color: #fff;
  margin-right: 15px;
  padding: 15px;
  background: #3078fb;
  border-radius: 3px;
  font-size: 18px;
}
.render-section .container .render-content .render-right .render-icon .mail-us {
  display: block;
  color: #fff;
  font-size: 18px;
}
.render-section .container .render-content .render-right .render-icon .mail-us i {
  color: #fff;
  margin-right: 15px;
  padding: 15px;
  background: #3078fb;
  border-radius: 3px;
  font-size: 18px;
}

/* Contact Section Start Here */
.contact {
  background-color: #062241;
  padding: 100px 0px 40px;
}
.contact .container {
  width: 1200px;
  margin: 0 auto;
}
.contact .container .contact-content {
  display: flex;
}
.contact .container .contact-content .contact-left {
  width: 40%;
  padding: 0px 40px;
}
.contact .container .contact-content .contact-left h2 {
  font-size: 34px;
  color: #fff;
  margin-bottom: 20px;
}
.contact .container .contact-content .contact-left h2 span {
  color: #3078fb;
}
.contact .container .contact-content .contact-left p {
  font-size: 15px;
  color: #dddddd;
  line-height: 1.7;
}
.contact .container .contact-content .contact-right {
  width: 60%;
}
.contact .container .contact-content .contact-right form {
  display: flex;
}
.contact .container .contact-content .contact-right form .form-left {
  width: 50%;
}
.contact .container .contact-content .contact-right form .form-left input {
  margin-bottom: 20px;
  padding: 20px 25px 20px 10px;
  width: 90%;
  background: transparent;
  border: 1px solid #3078fb;
  font-size: 15px;
  color: #ddd;
  border-radius: 5px;
}
.contact .container .contact-content .contact-right form .form-right {
  width: 50%;
}
.contact .container .contact-content .contact-right form .form-right textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #3078fb;
  border-radius: 5px;
  padding: 20px 20px;
  height: 55%;
  color: #fff;
  font-size: 15px;
}
.contact .container .contact-content .contact-right form .form-right input {
  width: 100%;
  padding: 10px 0px;
  background: #3078fb;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
  box-shadow: 0px;
  border: 1px solid #3078fb;
  text-transform: uppercase;
}
.contact .container .contact-content .contact-right form .form-right input:hover {
  background-color: #fff;
  color: #3078fb;
}

/* Footer Part Start Here */
.footer {
  background-color: #fdfcfc;
  padding: 80px 0px;
}
.footer .container {
  width: 1200px;
  margin: 0 auto;
}
.footer .container .footer-content {
  display: flex;
}
.footer .container .footer-content .first-footer {
  width: 35%;
  margin-right: 30px;
}
.footer .container .footer-content .first-footer a img {
  width: 45%;
}
.footer .container .footer-content .first-footer p {
  color: #151b2c;
  font-size: 15px;
  line-height: 26px;
  margin-top: 20px;
}
.footer .container .footer-content .second-footer {
  width: 40%;
  margin-right: 30px;
  margin-left: 30px;
}
.footer .container .footer-content .second-footer h2 {
  color: #151b2c;
  font-size: 20px;
  line-height: 32px;
}
.footer .container .footer-content .second-footer .second-list {
  display: flex;
  margin-top: 20px;
}
.footer .container .footer-content .second-footer .second-list .second-left {
  width: 50%;
}
.footer .container .footer-content .second-footer .second-list .second-left ul {
  list-style: none;
}
.footer .container .footer-content .second-footer .second-list .second-left ul li {
  padding-bottom: 20px;
}
.footer .container .footer-content .second-footer .second-list .second-left ul li a {
  text-decoration: none;
  color: #151b2c;
  transition: 0.3s;
}
.footer .container .footer-content .second-footer .second-list .second-left ul li a:hover {
  color: #3078fb;
}
.footer .container .footer-content .second-footer .second-list .second-left ul li a i {
  margin-right: 10px;
}
.footer .container .footer-content .second-footer .second-list .second-right {
  width: 50%;
}
.footer .container .footer-content .second-footer .second-list .second-right ul {
  list-style: none;
}
.footer .container .footer-content .second-footer .second-list .second-right ul li {
  padding-bottom: 20px;
}
.footer .container .footer-content .second-footer .second-list .second-right ul li a {
  text-decoration: none;
  color: #151b2c;
  transition: 0.3s;
}
.footer .container .footer-content .second-footer .second-list .second-right ul li a:hover {
  color: #3078fb;
}
.footer .container .footer-content .second-footer .second-list .second-right ul li a i {
  margin-right: 10px;
}
.footer .container .footer-content .last-footer {
  width: 25%;
}
.footer .container .footer-content .last-footer h2 {
  font-size: 20px;
  color: #151b2c;
  line-height: 32px;
}
.footer .container .footer-content .last-footer p {
  font-size: 18px;
  color: #151b2c;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer .container .footer-content .last-footer p span {
  color: #3078fb;
  font-weight: bold;
}
.footer .container .footer-content .last-footer .social-icon i {
  color: #fff;
  padding: 10px;
  background-color: #3078fb;
  border: 1px solid #3078fb;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 15px;
  transition: 0.5s;
}
.footer .container .footer-content .last-footer .social-icon i:last-child {
  margin-right: 0;
}
.footer .container .footer-content .last-footer .social-icon i:hover {
  background-color: #fff;
  color: #3078fb;
}/*# sourceMappingURL=style.css.map */