.services-section {
  background-color: #f5f8fb;
  padding: 80px 0px;
  .container {
    width: 1200px;
    margin: 0 auto;
    .services-title {
      text-align: center;
      h2 {
        font-size: 34px;
        color: #151b2c;
        font-family: poppins;
      }
      p {
        font-family: poppins;
        font-size: 18px;
        color: #5d6471;
        margin: 20px 0px 40px;
      }
    }
    .all-services {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .single-services {
        width: 30%;
        margin-top: 30px;
        padding: 40px;
        background-color: #fff;
        border: 1px solid rgba(48, 120, 251, 0.4);
        border-radius: 5px;
        position: relative;
        z-index: 2;

        overflow: hidden;
        &:hover {
          border: 0px;
        }
        &:hover h3 {
          color: #fff;
        }
        &:hover p {
          color: #fff;
        }
        &:hover .icon {
          color: #fff;
        }

        &:hover::before {
          top: 0;
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: -100%;
          left: 0;
          background-color: #062241;
          transition: 0.4s;
          z-index: -1;
        }
        i {
          font-size: 55px;
          color: #7aa8fc;
        }
        h3 {
          margin: 20px 0px;
          color: #151b2c;
          font-size: 22px;
        }
        p {
          color: #151b2c;
          font-size: 17px;
          margin-bottom: 30px;
          font-weight: 300;
          line-height: 1.7;
        }
        a {
          i {
            font-size: 15px;
            color: #7aa8fc;
            background-color: #f5f8fb;
            padding: 10px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
/* Award Section Start Here */
.award-section {
  background-color: #fff;
  padding: 80px 0px;
  .container {
    width: 1200px;
    margin: 0 auto;
    .award-content {
      display: flex;
      .award-left {
        width: 50%;
        background-image: url("../images/circle.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        img {
        }
      }
      .award-right {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        .single-award {
          width: 40%;
          background-color: #f5f8fb;
          margin: 30px;
          border-radius: 10px;
          padding: 50px;

          i {
            color: #3078fb;
            font-size: 34px;
          }
          h4 {
            color: #444;
            font-size: 40px;
            margin: 20px 0px;
          }
          p {
            color: #444;
            font-size: 18px;
          }
        }
      }
    }
  }
}
/* Render Section Start Here */
.render-section {
  background-image: url("../images/bg2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 150px 0px;
  z-index: 2;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(6, 34, 65, 0.85);

    z-index: -1;
  }
  .container {
    width: 1200px;
    margin: 0 auto;
    .render-content {
      display: flex;
      .render-left {
        width: 60%;
        h2 {
          color: #fff;
          font-size: 34px;
          line-height: 1.7;
          font-family: poppins;
        }
      }
      .render-right {
        width: 40%;

        .render-icon {
          .call-us {
            display: block;
            margin-bottom: 30px;
            color: #fff;
            font-size: 18px;
            i {
              color: #fff;
              margin-right: 15px;
              padding: 15px;
              background: #3078fb;
              border-radius: 3px;
              font-size: 18px;
            }
          }
          .mail-us {
            display: block;

            color: #fff;
            font-size: 18px;
            i {
              color: #fff;
              margin-right: 15px;
              padding: 15px;
              background: #3078fb;
              border-radius: 3px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
/* Contact Section Start Here */
.contact {
  background-color: #062241;
  padding: 100px 0px 40px;
  .container {
    width: 1200px;
    margin: 0 auto;
    .contact-content {
      display: flex;
      .contact-left {
        width: 40%;
        padding: 0px 40px;
        h2 {
          font-size: 34px;
          color: #fff;
          margin-bottom: 20px;
          span {
            color: #3078fb;
          }
        }
        p {
          font-size: 15px;
          color: #dddddd;
          line-height: 1.7;
        }
      }
      .contact-right {
        width: 60%;
        form {
          display: flex;
          .form-left {
            width: 50%;
            input {
              margin-bottom: 20px;
              padding: 20px 25px 20px 10px;
              width: 90%;
              background: transparent;
              border: 1px solid #3078fb;
              font-size: 15px;
              color: #ddd;
              border-radius: 5px;
            }
          }
          .form-right {
            width: 50%;
            textarea {
              width: 100%;
              background: transparent;
              border: 1px solid #3078fb;
              border-radius: 5px;
              padding: 20px 20px;
              height: 55%;
              color: #fff;
              font-size: 15px;
            }
            input {
              width: 100%;
              padding: 10px 0px;
              background: #3078fb;
              border-radius: 5px;
              font-size: 20px;
              color: #fff;
              margin-top: 10px;
              box-shadow: 0px;
              border: 1px solid #3078fb;
              text-transform: uppercase;
              &:hover {
                background-color: #fff;
                color: #3078fb;
              }
            }
          }
        }
      }
    }
  }
}
/* Footer Part Start Here */
.footer {
  background-color: #fdfcfc;
  padding: 80px 0px;
  .container {
    width: 1200px;
    margin: 0 auto;
    .footer-content {
      display: flex;
      .first-footer {
        width: 35%;
        margin-right: 30px;
        a {
          img {
            width: 45%;
          }
        }
        p {
          color: #151b2c;
          font-size: 15px;
          line-height: 26px;
          margin-top: 20px;
        }
      }
      .second-footer {
        width: 40%;
        margin-right: 30px;
        margin-left: 30px;
        h2 {
          color: #151b2c;
          font-size: 20px;
          line-height: 32px;
        }
        .second-list {
          display: flex;
          margin-top: 20px;
          .second-left {
            width: 50%;
            ul {
              list-style: none;
              li {
                padding-bottom: 20px;
                a {
                  text-decoration: none;
                  color: #151b2c;
                  transition: 0.3s;
                  &:hover {
                    color: #3078fb;
                  }
                  i {
                    margin-right: 10px;
                  }
                }
              }
            }
          }
          .second-right {
            width: 50%;
            ul {
              list-style: none;
              li {
                padding-bottom: 20px;
                a {
                  text-decoration: none;
                  color: #151b2c;
                  transition: 0.3s;
                  &:hover {
                    color: #3078fb;
                  }
                  i {
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }
      }
      .last-footer {
        width: 25%;
        h2 {
          font-size: 20px;
          color: #151b2c;
          line-height: 32px;
        }
        p {
          font-size: 18px;
          color: #151b2c;
          line-height: 30px;
          margin-top: 20px;
          margin-bottom: 20px;
          span {
            color: #3078fb;
            font-weight: bold;
          }
        }
        .social-icon {
          i {
            color: #fff;
            padding: 10px;
            background-color: #3078fb;
            border: 1px solid #3078fb;
            border-radius: 5px;
            margin-right: 10px;
            font-size: 15px;
            transition: 0.5s;
            &:last-child {
              margin-right: 0;
            }
            &:hover {
              background-color: #fff;
              color: #3078fb;
            }
          }
        }
      }
    }
  }
}
